@charset "UTF-8";

footer {
    background-color: #1d439c;
    color: #fff;
    padding: 20px;
}

#footerdiv ul{
    list-style-type: none;
    font-size: 9pt;
    color: rgb(213, 213, 213);
    text-align: left;
}

#footerdiv ul li {
    margin: 3px;
}
