@charset "UTF-8";

.modalOpenButton, #modalCloseButton, .book-card, #review-list {
  cursor: pointer;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#modalContent {
  position: relative;
  background-color: #ffffff;
  width: 80%; /* 더 넓은 너비 설정 */
  max-width: 500px; /* 최대 너비 제한 */
  height: auto;
  padding: 15px;
  margin: 0 auto;
}

#modalContainer.active {
  display: flex;
}

#review-list:hover {
	background-color: lightgray;
}

#modal-review {
	width: 100%;
	text-align: center;
}

#review-list {
	text-overflow: ellipsis;
    white-space : nowrap;
    overflow: hidden;
}

#modalCloseButton {
	float: right;
	background-color: white;
	border: none;
}

#modalCloseButton:after {
	content: "\00d7"; 
	font-size: 20pt;

}
