/* 전체 스타일 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    max-width: 1440px;
    margin: auto;
}

/* 배너 스타일 */
.main-banner {
	background-color: black;
	width: 1440px;
	height: 300px;
	margin-bottom: 20px;
}

/* 로그인 섹션 */
/* 공통 스타일: .login과 .welcome 클래스 모두에 동일한 스타일 적용 */
.login, .welcome {
    background-color: #b7d8fc;
    padding: 30px;
    border-radius: 20px;
    width: 50%;
    margin: 35px 0px;
    text-align: center; /* 텍스트를 중앙 정렬 */
}

.login h2, .welcome h2 {
    margin: 0 0 15px;
    font-size: 14pt;
    color: white;
}

.welcome p {
    font-size: 12pt;
    color: #4a4a4a; /* 텍스트 색상 */
    margin: 5px 0;
}

.welcome button {
    padding: 10px;
    background-color: #79baff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

.welcome button:hover {
    background-color: #67b0ff;
}

/* 로그인 폼 스타일 */
.login form {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    align-items: stretch; /* 모든 자식 요소들을 가로로 펼침 */
}

.login input[type="text"],
.login input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login button {
    padding: 10px;
    background-color: #79baff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#signin:hover {
    background-color: #67b0ff;
}

.login .signup {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #b5cadf;
    color: #696d7e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup:hover {
    background-color: #b5c4d4;
}

#idpass {
    display: inline;
    margin: 10px 0 3px 0;
}

#remember {
    font-size: 10pt;
    float: left;
}

#forget {
    font-size: 10pt;
    float: right;
}

/* main-content: 로그인과 book-section을 가로로 배치 */
.main-content {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}


/* 공지사항 및 FAQ */
.announcements-faq{
    width: 70%;
    height: 240px;
    background-color: #ecf5ff;
    margin: 0;
    padding: 30px 50px;
    border-radius: 8px;
}

.announcements-faq button {
    padding: 8px 20px;
    margin: 0 10px 0 0;
    background-color: #b7d8fc;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor:pointer;
}

.announcements-faq button:hover {
    background-color: #a3ccfb;
}

.announcements-faq ul{
    list-style: none;
    padding: 0;
}

.announcements-faq ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

/* 고객센터, 도서관 등록 */
.etc {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.customer-support, .library-registration {
    height: 100px;
    background-color: #b7d8fc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}


